Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,4))
df

          0         1         2         3
0  0.417508  0.819264  0.815440  0.167644
1  0.349191  0.874713  0.683921  0.609312
2  0.366801  0.616885  0.035676  0.292509
3  0.921322  0.200592  0.470036  0.964615

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.417508        0.819264        0.815440        0.167644
1        0.349191        0.874713        0.683921        0.609312
2        0.366801        0.616885        0.035676        0.292509
3        0.921322        0.200592        0.470036        0.964615

Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.513705        0.627864        0.501268        0.508520
std          0.273283        0.305641        0.341476        0.356389
min          0.349191        0.200592        0.035676        0.167644
25%          0.362399        0.512812        0.361446        0.261293
50%          0.392155        0.718074        0.576979        0.450910
75%          0.543461        0.833126        0.716801        0.698138
max          0.921322        0.874713        0.815440        0.964615

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [ ]:
#null values
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
#location method
df.loc[0:,"Random value 2":"Random value 3"]

   Random value 2  Random value 3
0        0.819264        0.815440
1        0.874713        0.683921
2        0.616885        0.035676
3        0.200592        0.470036

In [ ]:
#index location method
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.819264        0.815440
1        0.874713        0.683921
2        0.616885        0.035676
3        0.200592        0.470036